@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@font-face {
    font-family: myFont;
    src: url(font.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

}
.main{                 
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    margin-top: 5vh;
}
.navbar a {
    margin: 0 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-size: 1.1vw;
    font-weight: 500; 
    transition: color 0.3s ease;
    text-transform:uppercase;
    
}
.theekum{
  height: 150px;
  width: 250px;
}

/* responsive nav bar start */
.nav-mob{
    /* margin-top: 2vh; */
    display: none;
  }
  nav{
    display: flex;
    width: 100%;
    height: 14vh;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    flex-wrap: wrap;
  }
  nav .logo{
    font-size: 25px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #000000;
    background: #000000;
  }
  nav .menu-btn i{
    color: #000000;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  .no-scroll {
    overflow: hidden;
    height: 100%;
  }
  .nav-bg{
    
    background-color: #102020;
  }
  .nav-col{
    color: rgb(255, 255, 255) !important;
  }
  /* responsive nav bar end */
  /* breaks start*/
  .break1{
    margin: 10vh 0;
    padding-left: 5vw;
  }
  .break1 h1{
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
  }
  .break1 div{
    background-color: #000000;
    height: 4px;
    width: 9.3vw;
    margin-top: 2vh;
  }
  .break3{
    margin-top: 20vh;
    padding-left: 67.5vw;
  }
  .break3 h1{
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
  }
  .break3 div{
    background-color: #000000;
    height: 4px;
    width: 5vw;
    margin-top: 2vh;
  }
  .break3-mob{
    display: none;
  }
  /* breaks end */
/* sec 1 */
.sec1{
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  position: relative;
}
.sec1-row{
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.sec1-row img{
  width: 550px;
  height: 290px;
  border-radius: 10px;
}
.sec1-dec{
  position: absolute;
  height: 40vh;
  width: 100%;
  background-color: #102020;
  left: 0;
  bottom: 1vh;
  z-index: -1;
}
/* sec1 slider */
.sec1-slideshow { 
  border-radius: 10px; 
  position: relative;
  overflow: hidden;
  height: 76vh;
  width: 50vw;
}

.mySlides {
  position: absolute;
  width: 100%;
  height: 60vh;
  opacity: 0;
  transition: opacity 1s ease; /* Smooth transition for opacity */
}

.mySlides.active {
  opacity: 1;
}

.mySlides img{
  object-fit: cover;
  width: 50vw;
  height: 90vh;
}

      /* CSS for navigation dots */
      /* CSS for navigation dots */
.dots {
  position: absolute;
  right: 1vw;
  bottom: 5vh;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 10px 4px;
  background-color: #102020;
  border-radius: 50%;
  display: block;
  cursor: pointer; /* Add cursor style to indicate it's clickable */
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #B2935B;
}

/* CSS for text */
.text {
  position: absolute;
  bottom: 20vh;
  left: 2vw;
  bottom: 15vh;
  color: white;
  padding: 10px;
  text-align: left;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  }
.text h2{
  font-size: 2.5rem;
  margin-bottom: 4vh;
  font-weight: 600;
}
.text p{
  width: 100%;
  font-size: 2.4rem;
  font-family: 'Playfair Display', serif;
}
/* sec1  slider end */

.sec2{
  display: flex;
  padding: 10vh 5vw;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  background-color: #102020;
}
.sec2-elem{
  width: 100%;
  height: 80vh;
  background-color: #545E44;
  overflow: hidden;
  border-radius: 5px;
}
.sec2-elem img{
  width: 100%;
  height: 50%;
}
.sec2-inside{
  height: 40%;
  display: flex;
  margin-top: 2vh;
  flex-direction: column;
  padding: 0 20px;
  gap: 2vh;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.sec2-inside h2{
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1.3;
}
.sec2-inside h1{
  padding-left: 1.3vw;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1.5;
}
.sec2-inside a{
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  text-align: end;  
  bottom: -3.5vh;
}
/* sec3 */
.sec3{
  margin-top: 20vh;
}
.swiper {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 30vh;
}

.swiper-slide {
  width: 850px;
  height: 700px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(2px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
  background: #62667f;
}

.swiper-slide--two span {
  background: #087ac4;
}

.swiper-slide--three span {
  background: #b45205;
}

.swiper-slide--four span {
  background: #087ac4;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("slide/1.png")
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("slide/2.png")
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("slide/3.png")
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("slide/4.png")
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("slide/5.png")
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
/* sec3 end */

/* sec4 start */
.sec4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6vw;
  gap:10vw;
  position: relative;
}
.col1{
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.col1-elem1,.col1-elem2{
  display: flex;
  width: 100%;
  gap: 2vw;
  background-color: #102020;
  color: #fff;
}
.col1-elem1 img,.col1-elem2 img{
  width: 300px;
}
.col1-inside{
  padding-top: 3vh;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}
.col1-inside h2{
  font-family: 'Playfair Display', serif;
  width: 95%;
  line-height: 1.4;
  font-size: 1.4rem;
}
.col1-inside p{
  font-size: 1.2rem;
  padding-right: 1vw;
  font-weight: 300;
}
.col1-inside a{
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-align: end;
  padding-right: 1vw;
  letter-spacing: 2px;
}

.col2{
  display: flex;
  height: 95vh;
  background-color: #545E44;
  position: relative;
  padding: 4vh;
}
.col2 h1{
  position: absolute;
  bottom: 10vh;
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  left: 2.5vw;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.hide{
  display: none;
}
.less{
  display: none;
  text-decoration: none;
  position: absolute;
  font-size: 1.5rem;
  bottom: -8vh;
  left: 6vw;
  color: #000000;
  font-family: 'Playfair Display', serif;
}
.drop{
  text-decoration: none;
  position: absolute;
  font-size: 1.5rem;
  bottom: -5vh;
  left: 6vw;
  color: #000000;
  font-family: 'Playfair Display', serif;
}
/* sec4 end */

/* sec5 start */
.sec5-mob{
  display: none;
}
.sec5{
  margin-top: 5vh;
  padding: 0 5.5vw;
  display: flex;
  gap: 4vw;
}
.sec5-row1{
  position: relative;
}
.sec5-row1 img{
  border-radius: 5px;
  width: 58vw;
  height: 98vh;
}
.row1-inside{
  position: absolute;
  bottom: 10vh;
  padding-left: 2vw;
}
.row1-inside h1{
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 500;
}
.row1-inside a{
  padding-left: 40vw;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 2px;
}
.sec5-row2{
  width: 30%;
}
.row2-elements1{
  /* width: ; */
  background-color: #102020;
  color: #fff;
  height: 58.5%;
  
}
.elements1-inside{
  padding: 1vh 1vw;
}
.row2-elements1 img{
  width: 100%;
  height: 25vh;
}
.elements1-inside h3{
  font-family: 'Playfair Display', serif;
}
.elements1-inside p{
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.elements1-inside a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding-left: 13vw;
}
.elems{
  display: flex;
  background-color: #102020;
  margin-top: 1vh;
  color: #fff;
}
.image1{
  height: 127px;
  width: 146px;
}
.image2{
  height: 127px;
  width: 146px;
}
.elems-inside{
  padding:0.4vw;
}
.elems-inside h3{
  font-size: .7rem;
  font-family: 'Playfair Display', serif;
  margin-top: .5vh;
}
.elems-inside p{
  font-size: .6rem;
  margin-top: 1vh;
  margin-bottom: 0vh;
  line-height: 1.4;
}
.rdmore{
  text-decoration: none;
  color: #fff;
  font-size: .8rem;
  padding-left: 8vw;
}
/* sec5 end */
  .footer{
    margin-top: 20vh;
    background-color: #545e44;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: .5vh;
  }
  
  .foot-icon{
    
    font-size: 1.5rem;
    display: flex;
    gap: 4vh;
  }
  .footer p{
   font-size: 0.8rem;
  }
  
  .foot-in{
    display: flex;
    gap: 60px;
  }

  /* all hover effects */
  
  .navitems a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000000; 
    overflow: hidden;
  }
  
  .navitems a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: 0;
    left: 0;
    background-color: #000000; 
    transition: width 0.3s ease-in-out;
  }
  
  .navitems a:hover::after,
  .navitems a:focus::after {
    width: 100%;
  }
  .hover-more{
    cursor: pointer;
    transition: all ease-in-out .3s;
  }
  .hover-more:hover{
    color: #B2935B;
    font-weight: 600;
  }
  .drop i, .less i{
    transition: all ease-in-out .3s;
  }
  .drop:hover i, .less:hover i{
    scale: 1.3;
  }

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .nav-mob{
    display: block;
  }
  nav .menu-btn i{
    display: block;
    color: #102020; 
    font-size: 2rem;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
    color: #ffffff;
    font-size: 2rem;
  }
  .menu-btn i{
    color: #102020; 
    font-size: 2rem;
  }
  nav ul{
    position: fixed;
    top: 110px;
    left: -170%;
    background: #102020;
    height: 100vh;
    width: 130%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 999;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width:75%;
    margin-left: -100%;
    display: block;
    font-size: 16px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
  .theekum{
    width: 170px;
    height: 120px;
    margin-top: 1vh;
  }
  .sec1{
    margin-top: 10vh;
    height: 45vh;
    background-color: #102020;
    padding: 4vh 0;
  }
  .sec1-dec{
    display: none;
  }
  .sec1-row{
    display: none;
  }
  .sec1-slideshow{
    margin-top: 0;
    height: 100%;
    width: 90vw;
  }
  
  .mySlides img{
    width: 100%;
    height: 90%;
  }
  .text {
    width: 120%;
    position: absolute;
    height: 10vh;
    left: -10vw;
    top: 6vh;
    color: rgb(247, 246, 246);
    transform: translateY(100%);
    transition: transform 0.3s ease;
    scale: .6;
    }
    /* breaks start*/
  .break1{
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding-left: 5vw;
  }
  .break1 h1{
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
  }
  .break1 div{
    background-color: #000000;
    height: 4px;
    width: 31vw;
    margin-top: 2vh;
  }
  .break3{
    margin-top: 20vh;
    padding-left: 67.5vw;
  }
  .break3 h1{
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
  }
  .break3 div{
    background-color: #000000;
    height: 4px;
    width: 15vw;
    margin-top: 2vh;
  }
  /* breaks end */
  .sec2{
    padding: 10vh 0vw;
    flex-wrap: wrap;
  }
  .sec2-elem{
    height: 40vh;
  }
  .elem1{
    width: 45%;
  }
  .elem2{
    width: 45%;
  }
  .elem3{
    width: 60%;
  }
  .sec2-elem img{
    width: 100%;
    height: 40%;
  }
  .sec2-inside{
    margin-top: 0vh;
    gap: 6px;
    padding: 0 2vw;
  }
  .sec2-inside h2{
    width: 110%;
    font-size: 1rem;
  }
  .sec2-inside a{
    font-size: 1rem;
    bottom: -7vh;
  }
  .sec3{
    margin-top: 10vh;
  }
  .swiper{
    padding-bottom: 10vh;
  }
  .swiper-slide {
    width: 350px;
    height: 300px;
  }
  .sec4{
    margin-top: 1vh;
  }
  .col1-elem1,.col1-elem2{
    display: flex;
    height: 20vh;
    width: 100%;
    gap: 2vw;
    background-color: #102020;
    color: #fff;
  }
  .col1-elem1 img,.col1-elem2 img{
    width: 150px;
    object-fit: cover;
  }
  .col1-inside{
    padding-top: 0.1vh;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;  
  }
  .col1-inside h2{
    font-family: 'Playfair Display', serif;
    width: 95%;
    line-height: 1.1;
    font-size: 1rem;
  }
  .col1-inside p{
    font-size: .8rem;
    padding-right: 1vw;
    font-weight: 300;
    margin-top: 1vh;
  }
  .col1-inside a{
    font-size: .9rem;
    text-decoration: none;
    color: #fff;
    margin-top: .9vh;
    padding-bottom: 2vh;
    text-align: end;
    padding-right: 1vw;
    letter-spacing: 2px;
  }
  .col1{
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  .col2{
    display: none;
  }
  .drop{
    bottom: -5vh;
  }
  .sec5{
    margin-top: 15vh;
    padding: 0 5.5vw;
    display: flex;
    gap: 4vw;
  }
  .sec5-row1{
    position: relative;
  }
  .sec5-row1 img{
    border-radius: 5px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  .row1-inside{
    position: absolute;
    bottom: 2vh;
    padding-left: 2vw;
  }
  .row1-inside h1{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .row1-inside a{
    padding-left: 50vw;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 2px;
  }
  .sec5-row2{
    display: none;
  }
  .break3-desk{
    display: none;
  }
  .break3-mob{
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: block;
    padding-left: 6vw
  }
  .break3-mob h1{
    font-size: 2rem;
  }
  .sec5-mob{
    height: 52vh;
    display: block;
    margin: 0 5vw;
    border-radius: 6px;
    overflow: hidden;
  }
  .sec5-mob-inside{
    padding: 0 4vw;
  }
  .sec5-mob-inside a{
    padding-left: 55vw;
    padding-bottom: 1vh;
  }
  .footer{
    padding: 10px 5px;
  }
  .foot-icon{
    font-size: 0.6rem;
    gap: 2vh;
  }
  .footer p{
  font-size: 0.4rem;
  }

  .foot-in{
    gap: 10px;
  }
}
@media (min-width: 770px) and (max-width: 1150px) and (orientation: landscape) {
    
  .navbar a{
    font-size: .8rem;
  }  
  .navbar a {
    margin: 0 1rem;
  }
}
@media (max-width:1000px) and (orientation: landscape){
  
  .navbar a{
    font-size: .7rem;
    font-weight: 700;
  }  
}
